Libraries

In [2]:
# Main libraries for data manipulation
import numpy as np 
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 66)

import fuzzywuzzy
from fuzzywuzzy import process


#data visualization
import plotly.express as px
import plotly.offline as pyo
pyo.init_notebook_mode()

Datasets:

dataset used in this project are from

In [3]:

# Food production 
fao_df = pd.read_csv('FAO.csv', encoding='latin-1')
df_prod = fao_df.copy()

# Greenhouse gases emission
emission_df = pd.read_csv('Food_Production.csv')
df_emiss = emission_df.copy()

# Temperatures change bycountry
temperature_df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='latin-1')
df_temp = temperature_df.copy()

# ISO-3 country codes
country_iso3 = pd.read_csv('FAOSTAT_data_11-24-2020.csv')

In [4]:
print(f"Shape: {df_prod.shape[0]} rows and {df_prod.shape[1]} columns.")
print("\nAll Columns:\n", df_prod.columns)
df_prod.head()

Shape: 21477 rows and 63 columns.

All Columns:
 Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,73.0,74.0,71.0,70.0,72.0,76.0,77.0,80.0,60.0,65.0,64.0,64.0,60.0,55.0,53.0,51.0,48.0,46.0,46.0,47.0,46.0,43.0,43.0,40.0,50.0,46.0,41.0,44.0,50.0,48.0,43.0,26.0,29.0,70.0,48.0,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,230.0,234.0,223.0,219.0,225.0,240.0,244.0,255.0,185.0,203.0,198.0,202.0,189.0,174.0,167.0,160.0,151.0,145.0,145.0,148.0,145.0,135.0,132.0,120.0,155.0,143.0,125.0,138.0,159.0,154.0,141.0,84.0,83.0,122.0,144.0,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

data Manipulation

In [5]:
#unnecessary
df_prod.drop(columns=['Area Code', 'Item Code', 'Element Code', 'Unit'], inplace=True)

df_prod.rename(columns={x:x[1:] for x in df_prod.columns if 'Y' in x}, inplace=True)
# Changed labels
df_prod.rename(columns={'Area': 'country_name', 'Area Abbreviation':'country_code'}, inplace=True)
# lower case
df_prod.rename(columns={x:x.lower() for x in df_prod.columns}, inplace=True)

In [6]:
print("INFO of each column:")

df_prod_info= pd.DataFrame({"Dtype": df_prod.dtypes, 
                            "Unique values": df_prod.nunique(),
                            "Missing values(%)": round(df_prod.isnull().sum()/df_prod.shape[0]*100, 2)
                            }).rename_axis('Columns', axis='rows')                       

df_prod_info

INFO of each column:

                Dtype  Unique values  Missing values(%)
Columns
country_code   object            169               0.00
country_name   object            174               0.00
item           object            115               0.00
element        object              2               0.00
latitude      float64            173               0.00
longitude     float64            174               0.00
1961          float64           1197              16.48
1962          float64           1215              16.48
1963          float64           1209              16.48
1964          float64           1236              16.48
1965          float64           1259              16.48
1966          float64           1263              16.48
1967          float64           1283              16.48
1968          float64           1300              16.48
1969          float64           1309              16.48
1970          float64           1322              16.48
1971          float64           1351              16.48
1972          float64           1360              16.48
1973          float64           1374              16.48
1974          float64           1388              16.48
1975          float64           1405              16.48
1976          float64           1410              16.48
1977          float64           1411              16.48
1978          float64           1463              16.48
1979          float64           1473              16.48
1980          float64           1477              16.48
1981          float64           1469              16.48
1982          float64           1508              16.48
1983          float64           1528              16.48
1984          float64           1540              16.48
1985          float64           1538              16.48
1986          float64           1563              16.48
1987          float64           1592              16.48
1988          float64           1613              16.48
1989          float64           1622              16.48
1990          float64           1621              15.90
1991          float64           1632              15.90
1992          float64           1747               4.60
1993          float64           1785               2.85
1994          float64           1796               2.85
1995          float64           1796               2.85
1996          float64           1807               2.85
1997          float64           1810               2.85
1998          float64           1844               2.85
1999          float64           1859               2.85
2000          float64           1892               1.62
2001          float64           1881               1.62
2002          float64           1909               1.62
2003          float64           1935               1.62
2004          float64           1944               1.62
2005          float64           1963               1.62
2006          float64           1987               0.48
2007          float64           1994               0.48
2008          float64           2028               0.48
2009          float64           2029               0.48
2010          float64           2046               0.48
2011          float64           2081               0.48
2012            int64           2084               0.00
2013            int64           2107               0.00

In [ ]:
# Create a subset with at least one missing value in the rows
df_null_rows = df_prod.loc[df_prod.isnull().any(axis=1)]
print(f'\nNumber of rows with missing values: {df_null_rows.shape[0]}')

np.random.seed(0)

# Select 5 random samples
df_null_rows.sample(5)

In [7]:
test_drop = df_prod.dropna()

# Percentage of deleted data 
rows_removal_perc = round((1-test_drop.shape[0]/df_prod.shape[0])*100,2)

print(f"\nRows in the original dataframe: {df_prod.shape[0]}.") 

print(f"\nDataframe rows after removing missing values: {test_drop.shape[0]}")

print(f'\nRemoving lines that contain NaN values has eliminated {rows_removal_perc}% of the data!')

Rows in the original dataframe: 21477.

Dataframe rows after removing missing values: 17938

Removing lines that contain NaN values has eliminated 16.48% of the data!

In [8]:
prod_values = test_drop.loc[:, '1961':]

# Dropping rows containing at least one negative number and all 0 from 1961 to 2013
idx_to_drop = prod_values.loc[((prod_values < 0).any(axis=1)) | (prod_values == 0).all(axis=1)].index

test_drop.drop(idx_to_drop, inplace=True)

df_prod = test_drop.reset_index(drop=True)

df_prod.loc[:, '1961':] = df_prod.loc[:, '1961':].astype('int64')

df_prod.loc[df_prod.duplicated()].sample(5)

C:\Users\vk160\AppData\Local\Temp\ipykernel_8548\3224376429.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_drop.drop(idx_to_drop, inplace=True)

,country_code,country_name,item,element,latitude,longitude,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
442,ATG,Antigua and Barbuda,Milk - Excluding Butter,Food,17.06,-61.80,6.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,7.0,7.0,8.0,9.0,9.0,9.0,9.0,9.0,9.0,8.0,8.0,9.0,9.0,9.0,8.0,9.0,8.0,9.0,10.0,9.0,10.0,9.0,9.0,10.0,10.0,10.0,10.0,8.0,10.0,9.0,11.0,11.0,11.0,11.0,12.0,11,11
12120,SEN,Senegal,Eggs,Food,14.50,-14.45,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0,5.0,6.0,6.0,7.0,7.0,7.0,8.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,11.0,11.0,11.0,14.0,16.0,17.0,19.0,20.0,19.0,20.0,23.0,23.0,22.0,22.0,23.0,25,23
1491,BWA,Botswana,Eggs,Food,-22.33,24.68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,2.0,2.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4,4
1618,BRA,Brazil,Milk - Excluding Butter,Feed,-14.24,-51.93,450.0,512.0,389.0,452.0,446.0,449.0,627.0,561.0,754.0,784.0,873.0,894.0,1455.0,1060.0,1108.0,1164.0,1206.0,1557.0,1594.0,1641.0,1655.0,1238.0,1237.0,1293.0,1311.0,1282.0,1370.0,1409.0,1432.0,1347.0,1280.0,1205.0,1247.0,1283.0,1214.0,1252.0,1274.0,1286.0,1305.0,1345.0,1430.0,1496.0,1516.0,1571.0,1607.0,1671.0,1701.0,1739.0,1739.0,1841.0,1842.0,1868,1898
5511,GRC,Greece,Milk - Excluding Butter,Feed,39.07,21.82,178.0,145.0,133.0,133.0,126.0,132.0,112.0,110.0,101.0,118.0,108.0,105.0,108.0,104.0,108.0,105.0,111.0,100.0,105.0,110.0,117.0,115.0,110.0,115.0,111.0,93.0,105.0,101.0,106.0,108.0,102.0,118.0,131.0,127.0,98.0,96.0,96.0,103.0,131.0,101.0,111.0,131.0,125.0,119.0,119.0,117.0,109.0,137.0,119.0,113.0,125.0,116,111

In [9]:
# Delete duplicates and reseting index
df_prod.drop_duplicates(inplace=True)
df_prod.reset_index(drop=True, inplace=True)

In [ ]:
def fuzz_finder(dictionary, test, target, treshold, first, last, show):

    """This function inserts in a dictionary at will the best matches between the names 
    of the elements of two lists, 'test' and 'target'. 
    Note: The dictionary must be already initialized before running the function.  

    The dictionary keys correspond to the names of the items to be tested, 
    while the values correspond to the list of items obtained for best match. 
    To test the elements of a list with itself it is sufficient to indicate it both as 'test' and as 'target'.
     
    You must specify a 'treshold', a number between 0 and 100, as the threshold score to be reached 
    between the first and second items in comparison. To perform a finer search, assign the value 'treshold'
    a number close to 100. By default the score refers to the comparison of the test element with the second target element.
    
    With 'first' and 'last' you decide the first and last item to be inserted in the list of values in the dictionary.  
    
    The resulting dictionary is transformed into a dataframe to improve the output. Setting 'show' = True 
    you can decide whether or not to display the output of the function.""" 

    for item in test:

        # Returns a list of tuples containing element's name and its score
        matches = fuzzywuzzy.process.extract(item, target, limit=None, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
        
        if matches[1][1] >= treshold and first != last:        

            key = item 
            
            values = [(matches[n][0], matches[n][1]) for n in range(first,last+1)]
            
            dictionary[key] = values
        
        elif matches[1][1] >= treshold and first == last:

            key = item

            value = (matches[first][0], matches[first][1])

            dictionary[key] = value

    if show:

        df_result = pd.DataFrame.from_dict(dictionary)
        return df_result